page-item-create {
  .item-label {
    padding-bottom: 4px;
    color: black !important;
  }

  .item-image-wrapper {
    text-align: center;
    margin: 20px 0;

    .item-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .item-image-placeholder {
      display: inline-block;

      background-color: #eee;
      width: 96px;
      height: 96px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }

  ion-input, ion-textarea {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    padding-left: 10px;
  }

  textarea {
    height: 10vh;
  }
}
