<ion-content class="content-background">

    <!--
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">
        {{ 'WELCOME_INTRO' | translate }}
      </div>
    </div>
-->
    <ion-spinner *ngIf="showLoadingSpinner" class="loading-spinner" name="crescent"></ion-spinner>

    <ion-slides *ngIf="showButtons" pager>

      <ion-slide class="slide-1" >
        <h2></h2>
      </ion-slide>

      <ion-slide class="slide-2" >
        <h2></h2>
      </ion-slide>

      <ion-slide class="slide-3" >
        <h2></h2>
      </ion-slide>

    </ion-slides>

    <button *ngIf="showButtons" (click)="login()" class="login-button">LOGIN</button>
    <button *ngIf="showButtons" (click)="signup()" class="register-button">REGISTER</button>

</ion-content>
