page-signup {
  // This stops text inputs on Android being obscurred by white box
  .input-cover {
    position: static;
  }

  // This makes the rule that Android puts under input fields be white
  /* Workaround to hide android default validation colors */
  ion-item.item-md.item-input.input-has-focus .item-inner,
  ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #ffffff;
    box-shadow: none;
  }

  .title {
    color: white;
    font-size:30px;
  }

  .item-ios {
    color: white;
    background-color: transparent;
  }
  .item-md {
    color: white;
    background-color: transparent;
  }

  .register-button {
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-button-container {
    position: static;
    margin-left: -8px;
    margin-top: 20px;
    width: 100%;
  }
  .login-button {
    background-color: transparent;
    color: white;
    width: auto;
    font-weight: 200;
    font-size: 14px;
  }

  .content-background {
    background-image: url('../assets/img/register_background.jpg');
    background-size: cover;
    height: 105%;
    margin-top:-20px;
  }

  .error-box {
    color: yellow;
  }

  .error-border {
    color: yellow;
  }
}
